Unidad_04/actividad_4_3/actividad_4_3_4.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xsd:element name="nombre" type="xsd:string"></xsd:element>
<xsd:element name="fechanacimiento" type="xsd:date"></xsd:element>
<xsd:element name="telefono" type="xsd:string"></xsd:element>
<xsd:element name="sexo" type="xsd:string"></xsd:element>
<xsd:element name="numeroseguridadsocial" type="xsd:integer"></xsd:element>

<xsd:attribute name="nacionalidad" type="xsd:string"></xsd:attribute>

  <xsd:element name="persona">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="nombre"></xsd:element>
            <xsd:element ref="fechanacimiento"></xsd:element>
            <xsd:element ref="telefono" maxOccurs="unbounded"></xsd:element>
            <xsd:element ref="sexo" minOccurs="0"></xsd:element>
            <xsd:element ref="numeroseguridadsocial" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="nacionalidad"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="lista_de_personas">
            <xsd:complexType>
                <xsd:sequence>
                <xsd:element ref="persona"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        
</xsd:schema>